* {
    box-sizing: border-box;
}

.wheel {
    background: #eee;
    border:     1px solid pink;
    color:      #fff;
    display:    block;
    text-align: center;
    position:   relative;
    padding:    0;
    margin:     0;
    width:      100px;
    height:     100px;
    float:      left;
    .numbers-wrapper {
        border:         1px solid blue;
        background:     #ccc;
        position:       relative;
        overflow:       hidden;
        display:        block;
        width:          100px;
        height:         300px;
        vertical-align: middle;
    }
    .numbers-wrapper-inner {
        border:     1px solid orange;
        overflow:   hidden;
        height:     auto;
        //        transition:     all 1s linear;
    }
    .number {
        //        -webkit-transform-style: preserve-3d;
        //        transform:               rotateX(-30deg);
        //        -webkit-transform:       rotateX(-30deg);
        top:            0;
        height:         100px;
        line-height:    100px;
        display:        block;
        vertical-align: middle;
        border:         1px solid yellow;
        background:     green;
        box-shadow:     inset 1px 1px 1px #000;
        //        &.active {
        //            display: block;
        //        }
        //        &.next {
        //            display: block;
        //        }
        //        &.previous {
        //            display: block;
        //        }
    }
    .real-value {
        position:    absolute;
        bottom:      0;
        background:  red;
        color:       #fff;
        font-size:   20px;
        font-weight: 700;
    }
}

